# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import json

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
cities_df = pd.read_csv("output_data/cities.csv")
cities_df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
locations = cities_df[["Lat", "Lng"]]
weight = cities_df['Humidity'].astype(int)

# Plot Heatmap
fig = gmaps.figure()

# Create Heatmap layer
Heatmap_layers = gmaps.heatmap_layer(locations, weights=weight, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)

# Add Heatmap layer to map
fig.add_layer(Heatmap_layers)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
# Drop any rows that don't contain all three conditions. Conditions to be met: a. Maximum temperature lower than 80 degrees but higher than 70. b. Wind speed less than 10 mph. c.Zero cloudiness.

new_cities = cities_df.dropna()

optimum_weather = new_cities.loc[(new_cities['Cloudiness'] > 0) & (new_cities['Wind Speed'] < 10)] 
optimum_temp_weather = optimum_weather.loc[(optimum_weather['Max Temp'] > 70) & (optimum_weather['Max Temp'] <= 80)]
optimum_temp_weather

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
12,12,avarua,100,CK,1558378756,94,-21.21,-159.78,71.60,2.24
25,25,kantang,20,TH,1558378759,94,7.42,99.52,78.80,6.93
44,44,puerto ayora,26,EC,1558378762,86,-0.74,-90.35,79.00,5.99
59,59,bontang,54,ID,1558378765,99,0.12,117.47,74.22,2.62
87,87,ambilobe,2,MG,1558378770,92,-13.19,49.05,74.76,4.52
91,91,bella vista,62,AR,1558378771,80,-28.51,-59.05,75.66,7.29
100,100,sorong,95,ID,1558378773,93,-0.86,131.25,77.28,2.01
104,104,mbigou,70,GA,1558378773,94,-1.90,11.91,72.60,1.63
106,106,hilo,40,US,1558378755,69,19.71,-155.08,79.00,4.70
153,153,porto novo,20,BR,1558378783,53,-23.68,-45.44,77.00,4.70
159,159,manado,40,ID,1558378784,100,1.49,124.85,73.40,4.97
164,164,kathmandu,75,NP,1558378762,73,27.71,85.32,71.60,6.67
190,190,saint-georges,94,CA,1558378595,76,46.12,-70.67,71.01,8.99
201,201,luanda,20,AO,1558378792,78,-8.83,13.24,78.80,6.93
203,203,namatanai,100,PG,1558378793,88,-3.66,152.44,77.46,5.95
211,211,labuhan,18,ID,1558378794,86,-2.54,115.51,75.48,2.80
221,221,marawi,12,PH,1558378796,93,8.00,124.29,77.00,5.01
222,222,samana,75,EC,1558378796,94,0.12,-76.97,77.00,4.70
223,223,koronowo,20,PL,1558378736,60,53.31,17.94,71.01,3.36
229,229,aketi,100,CD,1558378804,96,2.74,23.78,72.60,1.03
234,234,katobu,17,ID,1558378814,93,-4.94,122.53,75.66,1.54
235,235,banjar,86,ID,1558378616,98,-7.37,108.54,73.86,1.14
237,237,andradas,20,BR,1558378535,56,-22.07,-46.57,79.00,6.93
264,264,saint-leu,68,RE,1558378835,88,-21.15,55.28,78.01,3.36
268,268,dingle,4,PH,1558378836,80,11.00,122.67,79.08,2.73
288,288,san quintin,95,PH,1558378841,76,17.54,120.52,78.72,3.62
294,294,takoradi,100,GH,1558378843,85,4.89,-1.75,78.90,3.56
301,301,aitape,100,PG,1558378845,87,-3.15,142.36,77.64,3.96
302,302,alofi,75,NU,1558378845,94,-19.06,-169.92,75.20,6.93
310,310,airai,35,TL,1558378846,73,-8.93,125.41,75.12,7.20
311,311,balkanabat,99,TM,1558378846,41,39.51,54.36,79.80,6.69
322,322,tshikapa,99,CD,1558378849,58,-6.42,20.79,79.62,2.15
334,334,san patricio,94,PY,1558378853,82,-26.98,-56.83,76.74,7.49
345,345,eseka,100,CM,1558378855,91,3.65,10.77,76.92,3.13
354,354,daru,78,SL,1558378857,89,7.99,-10.85,79.62,3.60
358,358,alyangula,100,AU,1558378858,100,-13.85,136.42,71.60,3.36
361,361,boyolangu,80,ID,1558378858,89,-8.09,111.90,74.76,4.65
385,385,santa maria,99,BR,1558378868,85,-29.69,-53.81,71.16,5.95
393,393,juiz de fora,20,BR,1558378833,44,-21.76,-43.35,75.20,8.05
402,402,sambava,7,MG,1558378871,99,-14.27,50.17,70.98,1.50
431,431,cartagena del chaira,98,CO,1558378878,89,1.33,-74.84,79.62,3.22
443,443,lucapa,65,AO,1558378880,48,-8.42,20.74,78.36,2.73
450,450,lorengau,100,PG,1558378869,89,-2.02,147.27,77.46,1.12
468,468,san cristobal,75,EC,1558378885,37,-0.39,-78.55,71.60,4.70
469,469,san ramon,75,NI,1558378828,65,12.92,-85.84,77.00,5.55
478,478,samarinda,52,ID,1558378886,98,-0.50,117.14,75.30,2.08
485,485,san-pedro,92,CI,1558378888,89,4.75,-6.64,78.90,3.56
494,494,baylo,1,PH,1558378889,69,7.85,126.06,77.00,1.07
516,516,malindi,75,KE,1558378808,88,-3.22,40.12,77.00,9.17
534,534,marzuq,84,YE,1558378896,36,14.40,46.47,79.44,6.02
539,539,palu,72,ID,1558378897,80,-0.90,119.87,78.72,3.83

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [6]:
hotel_df =  pd.DataFrame(optimum_temp_weather, columns=["City", "Country", "Lat", "Lng"])
hotel_df["Hotel Name"] = ""
hotel_df

                     City Country    Lat     Lng Hotel Name
12                 avarua      CK -21.21 -159.78
25                kantang      TH   7.42   99.52
44           puerto ayora      EC  -0.74  -90.35
59                bontang      ID   0.12  117.47
87               ambilobe      MG -13.19   49.05
91            bella vista      AR -28.51  -59.05
100                sorong      ID  -0.86  131.25
104                mbigou      GA  -1.90   11.91
106                  hilo      US  19.71 -155.08
153            porto novo      BR -23.68  -45.44
159                manado      ID   1.49  124.85
164             kathmandu      NP  27.71   85.32
190         saint-georges      CA  46.12  -70.67
201                luanda      AO  -8.83   13.24
203             namatanai      PG  -3.66  152.44
211               labuhan      ID  -2.54  115.51
221                marawi      PH   8.00  124.29
222                samana      EC   0.12  -76.97
223              koronowo      PL  53.31   17.94
229                 aketi      CD   2.74   23.78
234                katobu      ID  -4.94  122.53
235                banjar      ID  -7.37  108.54
237              andradas      BR -22.07  -46.57
264             saint-leu      RE -21.15   55.28
268                dingle      PH  11.00  122.67
288           san quintin      PH  17.54  120.52
294              takoradi      GH   4.89   -1.75
301                aitape      PG  -3.15  142.36
302                 alofi      NU -19.06 -169.92
310                 airai      TL  -8.93  125.41
311            balkanabat      TM  39.51   54.36
322              tshikapa      CD  -6.42   20.79
334          san patricio      PY -26.98  -56.83
345                 eseka      CM   3.65   10.77
354                  daru      SL   7.99  -10.85
358             alyangula      AU -13.85  136.42
361             boyolangu      ID  -8.09  111.90
385           santa maria      BR -29.69  -53.81
393          juiz de fora      BR -21.76  -43.35
402               sambava      MG -14.27   50.17
431  cartagena del chaira      CO   1.33  -74.84
443                lucapa      AO  -8.42   20.74
450              lorengau      PG  -2.02  147.27
468         san cristobal      EC  -0.39  -78.55
469             san ramon      NI  12.92  -85.84
478             samarinda      ID  -0.50  117.14
485             san-pedro      CI   4.75   -6.64
494                 baylo      PH   7.85  126.06
516               malindi      KE  -3.22   40.12
534                marzuq      YE  14.40   46.47
539                  palu      ID  -0.90  119.87

In [7]:
#creates a list to capture hotel_names to insert into dataframe
Hotel_Name = []

# params dictionary to update each iteration
params = {
    "radius": 5000,
    "types": "hotel",
    "keyword": "hotel",
    "key": g_key
}

# iteration using for loop
for index, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    try:
        Hotel_Name.append(name_address['results'][0]['name'])
    except IndexError:
        Hotel_Name.append(np.nan)
        
hotel_df['Hotel Name']= Hotel_Name
hotel_df.dropna()

,City,Country,Lat,Lng,Hotel Name
12,avarua,CK,-21.21,-159.78,The Edgewater Resort and Spa
25,kantang,TH,7.42,99.52,(Kantang Park Hotel)
44,puerto ayora,EC,-0.74,-90.35,Hotel Solymar Galapagos
59,bontang,ID,0.12,117.47,Hotel Garuda Bontang
87,ambilobe,MG,-13.19,49.05,Hotel National
91,bella vista,AR,-28.51,-59.05,Hotel Ro Arriba
100,sorong,ID,-0.86,131.25,Swiss-Belhotel Sorong
106,hilo,US,19.71,-155.08,Grand Naniloa Hotel Hilo - a DoubleTree by Hilton
153,porto novo,BR,-23.68,-45.44,Hotel Pousada Paradise
159,manado,ID,1.49,124.85,Four Points by Sheraton Manado
164,kathmandu,NP,27.71,85.32,Hyatt Regency Kathmandu
190,saint-georges,CA,46.12,-70.67,Le Grand Htel
201,luanda,AO,-8.83,13.24,Hotel Presidente Luanda
203,namatanai,PG,-3.66,152.44,Namatanai Hotel
221,marawi,PH,8.00,124.29,Marawi Resort Hotel
222,samana,EC,0.12,-76.97,LA QUINTA PRIMAVERA
223,koronowo,PL,53.31,17.94,Orodek Wypoczynkowy Nad Zatok
234,katobu,ID,-4.94,122.53,Balai Desa Kafofo
235,banjar,ID,-7.37,108.54,OYO 2488 Villa Tirta Melati Syariah
237,andradas,BR,-22.07,-46.57,Hotel Dela Inn
264,saint-leu,RE,-21.15,55.28,Blue Margouillat
294,takoradi,GH,4.89,-1.75,Protea Hotel by Marriott Takoradi Select
302,alofi,NU,-19.06,-169.92,Taloa Heights
311,balkanabat,TM,39.51,54.36,Nebitchi Hotel
322,tshikapa,CD,-6.42,20.79,Hotel Paradis
345,eseka,CM,3.65,10.77,Hotel Eseka Palace
358,alyangula,AU,-13.85,136.42,Groote Eylandt Lodge
361,boyolangu,ID,-8.09,111.90,Crown Victoria Hotel
385,santa maria,BR,-29.69,-53.81,Hotel Appel
393,juiz de fora,BR,-21.76,-43.35,ibis Juiz de Fora
402,sambava,MG,-14.27,50.17,Carrefour
431,cartagena del chaira,CO,1.33,-74.84,HOTEL LA ROCA
450,lorengau,PG,-2.02,147.27,Seeadler Bay Hotel
468,san cristobal,EC,-0.39,-78.55,Sierra Alisos Hotel de Campo
469,san ramon,NI,12.92,-85.84,Tierra Alta Ecolodge
478,samarinda,ID,-0.50,117.14,HARRIS Hotel Samarinda
485,san-pedro,CI,4.75,-6.64,Htel Nahoui
516,malindi,KE,-3.22,40.12,Ocean beach resort and spa
539,palu,ID,-0.90,119.87,Swiss-Belhotel Palu

In [8]:
hotel_df.to_csv('Hotels.csv')

In [9]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [10]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)

# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)

# Display Map
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', wi